/* 
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; } */


/*Chrome,Safari
-webkit-clip-path: polygon(-3px 421px,407px 420px,479px -3px,0px 0px);
*/
/*Firefox///
clip-path: url("#clipPolygon");


Another
-webkit-clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);
clip-path: polygon(0 0, 100% 0%, 66% 100%, 0% 100%);*/
/* 
another
-webkit-clip-path: polygon(0 0, 74% 0, 99% 100%, 0% 100%);
clip-path: polygon(0 0, 74% 0, 99% 100%, 0% 100%);

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
}
.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
}*/
p {
  color: white
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Eczar', serif;
}

body {
  width: 100%;
  margin: auto;
  background-color: white;
  font-family: 'Eczar', serif;

}

h1 {
  color: blueviolet
}

.auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(24, 22, 22);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.auth-nav a {
  grid-column-start: 1;
  grid-column-end: 4;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  margin-right: 15px;
}

.auth-nav a:hover {
  border-bottom: 3px solid red;
}

.logo {
  margin-left: 10px
}

.header {
  width: 100%;
  height: 120vh;
  background-image:
    linear-gradient(to right bottom,
    rgba(222, 77, 78, 0.8),
    rgba(30, 108, 217, 0.8)),
    url("./diary.png");
  background-size: cover;
  background-position: top;
  position: relative;
  background-clip: padding-box;
  clip-path: polygon(0 0, 100% 0, 100% 100vh, 0 100%);
  background-color: #F4F9FF;

}

.avatar {
  display: flex;
}

.avatar p {
  margin-right: 15px;

}

.avatar img {
  height: 50px;
  width: 50px;
  border-radius: 50%
}

.top-nav-container {
  margin-top: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap
}

.menu-icon {
  display: none;
  margin-right: 20px;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
}

.close-btn {
  position: absolute;
  right: 0;
  padding-right: 100px;
  padding-top: 50px;

}

.close-btn p {
  font-weight: 900;
  font-size: 20px;
  cursor: pointer;
}

.hide_search-overlay {
  height: 0px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1s linear
}

.search-overlay {
  top:0;
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 5;
  display: flex;
  justify-content: center;
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear
}

#search-form {
  display: flex;
  align-items: center;
  opacity: 1;
}

form.search-bar input[type=text] {
  padding: 20px;
  font-size: 17px;
  border: 1px solid grey;
  width: 400px;
  background: white;
  border-radius: 2px;
}

/* Style the submit button */
form.search-bar button {
  margin-left: -5px;
  width: 120px;
  padding: 20px;
  background: rgb(110, 158, 207);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  border-radius: 2px;
}

form.search-bar button:hover {
  background: #0b7dda;
}

.intro {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}

.intro h1 {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 50px;
  font-family: 'Alegreya', serif;

}

.intro p {
  color: white;
  text-align: left;
  margin-left: 20px;
  font-size: 22px;
  font-family: 'Eczar', serif;
  color: #000000
}

.sub-header {
  float: left;
  text-align: center;
  width: 45%;
}

.grid-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 0rem;
}

.main img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main h1 {
  font-family: 'Alegreya', serif;
  font-style: italic;
  font-size: 40px
}

.overlay-color {
  background:
    linear-gradient(to right bottom,
    rgba(0, 0, 0, 0.6),
    rgba(3, 7, 14, 0.6));
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
}

.main:nth-child(1n+0) {
  grid-column: span 1;
  grid-row: span 1;
  align-items: center;
  display: flex;
  position: relative;
}

.main:nth-child(2n+0) {
  background-color: #ffffff
}

.footer {
  grid-column-start: 1;
  grid-column-end: 4;
  align-items: center;
  display: flex;
  justify-content: center;
  height: 200px;
  background-color: rgb(20, 5, 5);
  color: white;
  z-index: 999;
}

/* 


*/
.modal {
  display: none;
  position: fixed;
  z-index: 5;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.5);
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0
  }

  to {
    top: 0;
    opacity: 1
  }
}

/* The Close Button */
.close {
  color: rgb(31, 28, 28);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(238, 68, 68);
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #ffffff;
  color: rgb(37, 32, 32);
  border-bottom: 1px solid rgb(71, 119, 250)
}

.modal-body {
  padding: 2px 16px;
  color: blue
}

.modal-footer {
  padding: 2px 16px;
  background-color: #918ff5;
  color: white;
}

.login-form input[type=text],
input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(33, 128, 236);
  border-radius: 0px;
}

.login-form input::placeholder,
textarea::placeholder {
  color: blue
}

.login-form button {
  background-color: rgb(61, 80, 147);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  width: 100%
}

.signup-header {
  padding: 2px 6px;
  text-align: center;
  background-color: rgb(108, 105, 163);
  color: rgb(246, 251, 252);
  border-bottom: 1px solid rgb(61, 80, 147)
}

.signup-form {
  display: block;
  width: 400px;
  float: right;
  margin-right: 10px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 2px solid rgb(61, 80, 147);
}

.signin-form {
  display: block;
  margin-top: 3px;
  width: 400px;
  float: right;
  margin-right: 10px;
  background-color: white;
  padding: 7px 7px 7px 7px;
  border: 2px solid rgb(61, 80, 147);
}














/* 

*/
.entry-image{
  width: 100%;
  height: 250px;
  margin-right: auto;
  border:2px dotted white;
  margin-top:3px;
  margin-bottom: 7px;
  background-color: rgba(30, 108, 217, 0.6);
  border-radius: 2px;
}
.entry-image img{
  width: 50%;
  height: 250px;
  margin-left: 20px;
  margin-right: auto;
}
.entry-image img:hover{
  opacity: .6;
  cursor: pointer;
}
.entry-container{
  background-image:
    linear-gradient(to right bottom,
    rgba(22, 41, 46, 0.8),
    rgba(30, 108, 217, 0.7)),
    url('./diary.png');
  background-size: cover;
  background-position: top;
  position: relative;
  background-clip: padding-box;
  background-color: #F4F9FF;
  padding-top: 20px;
  padding-bottom: 40px;
}
.entry-title{
  margin: 0px auto 5px auto;
  width: 70%;
}
.entry-title input::placeholder{
color:black
}
.entry-title input[type=text] {
  height: 45px;
  padding-left: 2%;
  font-size: 17px;
  border: 1px solid rgb(238, 233, 233);
  width: 98%;
  background-color: rgba(30, 108, 217, 0.6);
  border-radius: 2px;
  
}
.text-container {
  width: 70%;
  background-color: rgba(30, 108, 217, 0.6);
  margin: 0 auto 0 auto;
  
}
.ql-container {
  height: auto !important;
}
.ql-editor{
  min-height: 300px !important;
  max-height: 300px;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: auto;
}
.submit-entry_btn{
  margin-bottom: 25px;
text-align: center;
cursor: pointer;
margin: 7px auto;
}
.submit-entry_btn button{
    width: 70%;
  height: 40px;
   background-color: rgba(30, 108, 217, 0.6);
}
.submit-entry_btn button:hover{
  background-color: rgba(30, 108, 217, 0.9);
  cursor: pointer;
}
/* 

*/
.header-container {
  background-color: rgb(24, 22, 22);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  top: 0px;
  width: 100%;
  z-index: 6;
  transition: margin-left .5s;
}

.logo h1 {
  color: white;
  font-family: 'Alegreya', serif;
  font-weight: bold
}

.topnav {
  padding-bottom: 9px;
  display: flex;
  align-items: center;
  justify-content: center
}

.topnav a {
  display: block;
  color: white;
  text-align: center;
  padding: 7px;
  text-decoration: none;
  font-size: 17px;
  border-bottom: 3px solid transparent;
  margin-right: 15px;
}

.topnav a:hover {
  border-bottom: 3px solid white;
}

.topnav a.active {
  border-bottom: 3px solid white;
}

.entries-container {
  width: 100%;
  display: grid;
  grid-auto-rows: 220px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 0rem;
}

.tile-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  object-fit: cover;
  transition:all 0.4s ease;
}
.tile-overlay:hover{
  -webkit-transform: scale(0.98);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
  cursor: pointer;
}

.tile:nth-child(7n+1) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(53, 17, 9, 0.7),
    rgba(17, 17, 17, 0.7));
}

.tile:nth-child(7n+2) .tile-overlay {
  background:
    linear-gradient(to left bottom,
    rgba(222, 77, 78, 0.7),
    rgba(138, 107, 107, 0.7));
}

.tile:nth-child(7n+3) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(20, 10, 8, 0.7),
    rgba(110, 158, 207, 0.7));
}

.tile:nth-child(7n+4) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(17, 15, 14, 0.7),
    rgba(247, 123, 41, 0.7));
}

.tile:nth-child(7n+5) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(31, 25, 23, 0.7),
    rgba(133, 94, 23, 0.7));
}

.tile:nth-child(7n+6) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(222, 89, 58, 0.7),
    rgba(145, 204, 36, 0.7));
}

.tile:nth-child(7n+7) .tile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(222, 89, 58, 0.7),
    rgba(110, 158, 207, 0.7));
}

.tile {
  position: relative;
  transition:all 0.3s ease;
  overflow: hidden;
  max-width:100%
}

.tile img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.tile:nth-child(4n+1) {
  grid-column: span 1;
  grid-row: span 2;

}

.tile h1 {
  word-wrap: break-word;
  font-size: 1.5rem;
  width: 90%;
  margin: 25px auto;
  font-family: 'Alegreya', serif;
  color: rgb(255, 255, 255);
  line-height: 1.3;
}

.tile:nth-child(4n+1) h1 {
  word-wrap: break-word;
  font-size: 2.5rem;
  width: 90%;
  color: white;
  margin: 25px auto;
  font-family: 'Alegreya', serif;
  line-height: 1.2;
}

.author_view {
  display: flex;
  justify-content: space-between;
width:90%;
margin:0 auto
}
.view-icon{
  color: rgb(250, 244, 244);
  font-size: 1.1rem;
}
.author {
  line-height: 0px;
  font-size: 1.1rem;
  font-style: italic
}

/* .tile:nth-child(2){
    grid-column: span 1;
    grid-row: span 1
}
.tile:nth-child(3){
    grid-column: span 1;
    grid-row: span 1
}
.tile:nth-child(4){
    grid-column: span 1;
    grid-row: span 1
}

.tile:nth-child(5){
    grid-column: span 1;
    grid-row: span 2;
} */

.profile-header {
  width: 100%;
  background-image:
    linear-gradient(to right bottom,
    rgba(222, 77, 78, 0.8),
    rgba(239, 242, 245, 0.8)),
    url('./diary.png');
  background-size: cover;
  background-position: top;
  position: relative;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  padding-top: 40px;
}

.profile-picture-img {
  position: relative;
  width: 350px;
  height: 400px;
  -webkit-clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
}

.profile-picture {
  width: 350px;
  height: 400px;
  background-color: rgb(247, 247, 247);
  box-shadow: 10px 10px 8px 0 rgba(0, 0, 0, 0.2), 10px 10px 8px 0 rgba(0, 0, 0, 0.19);
}

.profile-info {
  width: 300px;
  height: 400px;
  background-color: rgb(247, 247, 247);
  border: 0px;
  -webkit-box-shadow: 6px 5px 9px -4px rgba(0, 0, 0, 0.63);
  -moz-box-shadow: 6px 5px 9px -4px rgba(0, 0, 0, 0.63);
  box-shadow: 6px 5px 9px -4px rgba(0, 0, 0, 0.63);
  overflow: auto;
}

.profile-info .about {
  margin-top: 2px;
}

.profile-info p {
  color: rgb(28, 28, 39)
}

.profile-overlay {
  background:
    linear-gradient(to right bottom,
    rgba(226, 21, 21, 0.4),
    rgba(8, 87, 224, .4));
  width: 350px;
  height: 400px;
  position: absolute;
  z-index: 5;
  -webkit-clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 64% 100%, 0 100%);
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
}

.edit-profile__button {
  margin-top: 5px;
  width: 60%;
  padding: 10px;
  background: rgb(110, 158, 207);
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  /* Prevent double borders */
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 5px
}





@media screen and (min-height: 300px) and (max-height:600px) {

  .header {
    height: 170vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%)
  }
}

@media screen and (max-width: 650px) {

  .profile-picture-img {
    position: relative;
    width: 350px;
    height: 400px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  }

  .profile-picture {
    width: 350px;
    height: 400px;
    box-shadow: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    margin: 0 auto
  }

  .profile-overlay {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);

  }

  .profile-info {
    width: 350px;
    height: 400px;
    border: 0px;
    -webkit-box-shadow: -200px -200px 0px -200px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -200px -200px 0px -200px rgba(0, 0, 0, 0.75);
    box-shadow: -200px -200px 0px -200px rgba(0, 0, 0, 0.75);
    overflow: auto;
    margin: 0 auto
  }

  .profile-info .about {
    margin-top: 20px;
    text-align: center
  }

  .profile-info p,
  .profile-info h2 {
    text-align: center
  }

  .edit-profile__button {
    margin-left: 70px;

  }

  table,
  th,
  td {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%
  }




  .sub-header {
    display: none
  }

  .grid-container {
    display: block;
  }

  form.search-bar input[type=text] {
    width: 50%;
  }

  .profile-header {
    display: block;
  }

  form.search-bar button {
    width: 100px;
  }

  .top-nav-container {
    margin-top: 0px;
    display: grid;
    grid-template-columns: 5fr 1fr;
  }

  .logo {
    display: flex
  }

  .logo h1 {
    color: white;
    text-align: left
  }

  .menu-icon {
    display: block;
  }

  .topnav {
    display: none;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1s linear
  }

  .show-topnav {
    display: flex;
    flex-direction: column;
    margin-right: auto;

    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
  }

  .show-topnav a:hover {
    border-bottom: 3px solid white;
  }

  .show-topnav a.active {
    border-bottom: 3px solid white;
  }

  .show-topnav a {
    color: white;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-size: 20px;
    border-bottom: 3px solid transparent;
    margin-right: 15px;
  }

  .entries-container {
    display: flex;
    flex-direction: column
  }

  .tile {
    margin-bottom: 1rem;
  }
}


.edit-profile-header {
  padding: 2px 6px;
  text-align: center;
  background-color: rgb(108, 105, 163);
  color: rgb(246, 251, 252);
  border-bottom: 1px solid rgb(61, 80, 147)
}

.edit-profile-form {
  display: flex;
  width: 400px;
  background-color: white;
  padding: 5px 5px 5px 5px;
  border: 2px solid rgb(10, 60, 238);
}

.text-area {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid rgb(33, 128, 236);
  border-radius: 0px;
}

.sidenav-icon {
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 0px;
  z-index: 10;
}

.hide-sidenav {
  height: 100%;
  width: 0;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: auto;
  transition: 0.5s;
  padding-top: 150px;
}
.show-sidenav {
  height: 100%;
  width: 250px;
  position: absolute;
  z-index: 12;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: auto;
  transition: 0.5s;
  padding-top: 150px;
}

.show-sidenav a,.hide-sidenav  a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.show-sidenav a:hover {
  color: #f1f1f1;
}

.show-sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .show-sidenav {
    padding-top: 15px;
  }

  .show-sidenav a {
    font-size: 18px;
  }
}


h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  color: #333333;
}

.time {
  font-family: 'Open Sans', sans-serif;
  font-size: 14;
  font-style: normal;
  line-height: 17px;
  color: #80888a;
  font-weight: 400;
}

.container p {

  font-family: 'Open Sans', sans-serif;
  font-size: 18;
  font-style: normal;
  line-height: 32px;
  color: #444444;
  font-weight: 400
}

.container {
  width: 55%;
  margin: 50px auto 0 auto
}

.container img {
  height: 50vh;
  width: 100%
}
