body {
  	font-family: 'Lato', sans-serif;
  	font-weight: 400;
  	font-size: 16px;
  	line-height: 1.7;
  	color: #eee;
}


.header {
	height: 100vh;
	background-image: 
	linear-gradient(to right bottom, 
   rgba(76, 216, 255, 0.8),
   rgba(30, 108, 217, 0.8)),
   url('../images/diary.png');
	
  background-size: cover;
	background-position: top;
	position: relative;
	background-clip: padding-box; 
	clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
	background-color: #F4F9FF
}

/*
Full screen Overlay Navigation Menu
**/

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 1;
	top: 0;
	right: 0;
	background-color: rgb(0,0,0);
	background-color:rgba(0, 0, 0, 0.893);
	overflow-x: hidden;
	transition: 0.5s;}
  
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	display: inline-block;
	
  
}
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color:rgb(230, 222, 236);
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #927eb3;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
  }
  }
.menu-icon{
	cursor:pointer;
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 40px
}  
.brand-box {
  	position: absolute;
  	top: 0px;
	  left: 30px;
}

.brand { font-size: 30px; font-weight: bold }


.flexcontainer {
	display: flex;
	flex-direction: row;
}
.box{
	margin:150px auto 150px auto;
	text-align: center;
	color: blueviolet
}
.box1{
	width: 50%;

}
.box2{
	width: 50%
}
.section-1 {
	background-color: #ffffff
}
.section-2 {
	background-color: #F4F9FF
}
footer{
	background-color: blueviolet;
text-align: center
}