html{
    background-color: rgb(155, 123, 230)
}

body{
    
    width: 100%;
    margin: auto;
    background-color: rgba(238, 238, 238)
}
.header {
	height: 40vh;
	background-image:
	linear-gradient(to right bottom, 
	rgba(76, 216, 255, 0.8),
	rgba(30, 108, 217, 0.2)),
   url('../images/bg.jpg');
  background-size: cover;
	background-position: top;
	position: relative;
	background-clip: padding-box; 
	background-color: #F4F9FF
}
.profile-pic {
  width: 200px;
  height: 200px;
  margin-top: -120px;
  border-radius: 150px;
  border: 4px solid #fff;
  margin-left: 60px;
}
.profile-info-tab {
    width: 350px;  z-index: 99999;
    margin: auto;

}

.dairy-tab {
	width: 850px;    background-color: #fdeeee
}
.flexcontainer {
	display: flex;
	flex-direction: row;

}
.switch-border{
    width: 100%;
    border: #181b1b solid 1px;
    margin-bottom: 2px;
    margin-top: 2px;
    
}
.card h1{
    display: inline;
    font-size: 20px;
}
.profile-name{
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
    font-style: normal;
    line-height: 42px;
    color:#333333;
    text-align: center;
    margin-top: 0px;
    padding: 5px
}
.profile-username{
    font-family: 'Open Sans', sans-serif;
        font-size: 18;
        font-style: normal;
        line-height: 32px;
        color:#80888a;
        text-align: center;
    margin-top: -30px;
    padding-top: 10px;
}
.profile-mail{
    font-family: 'Open Sans', sans-serif;
        font-size: 18;
        font-style: normal;
        color:#80888a;
margin-top: -60px;
        text-align: center;
        line-height: 32px;
        padding-top: 10px;
}
.profile-about{
    font-family: 'Open Sans', sans-serif;
        font-size: 18;
        font-style: normal;
        line-height: 32px;
        color:#80888a;
        text-align: center;   

}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 250px;
    float: left;
    height: 410px;
    margin-left: 20px;
    background-color: #eeffff;
    margin-bottom:5px;
    overflow: hidden;
    margin-top: 9px
}
.card p{
    font-family: 'Open Sans', sans-serif;
    color: #9fa9b9;
    font-size: 14px;

}
.card h4{
    font-family: 'Open Sans', sans-serif;
    color:black;
    font-size: 16px;
    text-align: left;
    margin-bottom: 2px;
}
#tab3 h2{
    font-family: 'Open Sans', sans-serif;
    color:#675f6b;
    font-size: 16px;
    text-align: left;
    margin-bottom: 2px;
}

table{
    width: 90%;
margin: 40px auto;
    border-collapse: collapse
}
 td{
padding: 0px;
}
th{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-style: normal;
    color:#80888a;
    text-align: center;
    margin-top: 0px;
    margin-left: 35px;  
}
tr{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-style: normal;
    color:#80888a;
    text-align: center;
    margin-left: 35px;
    padding-top: 0px;  
}
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text-container {
    padding: 2px 16px;
}

@media only screen and (max-width: 850px) {
    .flexcontainer {
        display: flex;
        flex-direction: column;
    
    }
    .profile-info-tab {
        width: 100%;  z-index: 99999;
    }
    
    .dairy-tab {
        width: 100%;
    }
    .profile-pic {
        width: 200px;
        height: 200px;
        margin-top: 0px;
        border-radius: 150px;
        border: 4px solid #fff;
        margin-left: auto;
        margin-right: auto
      }
      .profile-pic-container{
        margin-left: auto;
        margin-right: auto;
        margin-top: 0px;
        width: 200px;
        height: 200px;
      }
      .card {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-style: normal;

        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
        width: 230px;
        float: left;
        height: 380px;
        margin-left: 10px;
        margin-top: 8px
    }
    .card-container{
        margin: auto;
    }
}






.switch {
	position: relative;
	display: block;
	vertical-align: top;
	width: 80px;
	height: 20px;
	padding: 3px;
	margin:0;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
	border-radius: 18px;
	box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
	cursor: pointer;
  box-sizing:content-box;
  float:right
}
.switch-input {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
  box-sizing:content-box;
}
.switch-label {
	position: relative;
	display: block;
	height: inherit;
	font-size: 10px;
	text-transform: uppercase;
	background: #eceeef;
	border-radius: inherit;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
  box-sizing:content-box;
}
.switch-label:before, .switch-label:after {
	position: absolute;
	top: 50%;
	margin-top: -.5em;
	line-height: 1;
	-webkit-transition: inherit;
	-moz-transition: inherit;
	-o-transition: inherit;
	transition: inherit;
  box-sizing:content-box;
}
.switch-label:before {
	content: attr(data-off);
	right: 11px;
	color: #aaaaaa;
	text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}
.switch-label:after {
	content: attr(data-on);
	left: 11px;
	color: #FFFFFF;
	text-shadow: 0 1px rgba(0, 0, 0, 0.2);
	opacity: 0;
}
.switch-input:checked ~ .switch-label {
	background: #E1B42B;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-input:checked ~ .switch-label:before {
	opacity: 0;
}
.switch-input:checked ~ .switch-label:after {
	opacity: 1;
}
.switch-handle {
	position: absolute;
	top: 4px;
	left: 4px;
	width: 20px;
	height: 20px;
	background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
	background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
	border-radius: 100%;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-handle:before {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -6px 0 0 -6px;
	width: 12px;
	height: 12px;
	background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
	background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
	border-radius: 6px;
	box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
.switch-input:checked ~ .switch-handle {
	left: 65px;
	box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
} 
/* Transition
============================================================ */
.switch-label, .switch-handle {
	transition: All 0.3s ease;
	-webkit-transition: All 0.3s ease;
	-moz-transition: All 0.3s ease;
	-o-transition: All 0.3s ease;
}

/*
Full screen Overlay Navigation Menu
**/

.overlay {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 9999999;
	top: 0;
	right: 0;
	background-color: rgb(0,0,0);
	background-color:rgba(0, 0, 0, 0.893);
	overflow-x: hidden;
	transition: 0.5s;}
  
  
  .overlay-content {
	position: relative;
	top: 25%;
	width: 100%;
	text-align: center;
	margin-top: 20px;
	display: inline-block;
	
  
}
  
  .overlay a {
	padding: 8px;
	text-decoration: none;
	font-size: 36px;
	color:rgb(230, 222, 236);
	display: block;
	transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
	color: #927eb3;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 60px;
  }
  
  @media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
	font-size: 40px;
	top: 15px;
	right: 35px;
  }
  }
.menu-icon{
	cursor:pointer;
	position: absolute;
	top: 10px;
	right: 30px;
	font-size: 40px;
	color: #fff;
}  
.brand-box {
  	position: absolute;
  	top: 0px;
	  color: #fff;
	  left: 30px;
}

.brand { font-size: 30px; font-weight: bold; color: #fff }
/*
This Radio button design is referenced from https://codepen.io/samkeddy/pen/PbROLK
*/



input[type=radio] {
  position: absolute;
  visibility: hidden;
  display: none;
}

label {
  color: #9a929e;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

input[type=radio]:checked + label {
  color: #ccc8ce;
  background: #675f6b;
}

label + input[type=radio] + label {
  border-left: solid 3px #675f6b;
}

.radio-group {
  border: solid 3px #675f6b;
  display: inline-block;
  margin:0px;
  border-radius: 10px;
  overflow: hidden;
}
