
<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My-Dairies</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
     
      <link rel="stylesheet" href="css/trumbowyg.min.css">
   <link rel="stylesheet" href="css/add-entry.css">
</head>

<body>

  <header class="header">
    <div id="myNav" class="overlay">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <div class="overlay-content">
        <a href="index.html"><i class="fas fa-home fa-1x "></i>Homepage</a>
        <a href="#"><i class="fas fa-user-circle"></i>User's Profile</a>
        <a href="add-entry.html"><i class="fas fa-edit"></i> New Diary</a>
        <a href="view-entry.html"><i class="fas fa-book-open"></i>View Diary</a>
        <a href="auth-user.html"><i class="fas fa-users"></i>Signup/Signin</a>


      </div>
    </div>
    <span class="menu-icon" onclick="openNav()"><i class="fas fa-bars"></i> </span>
    <script>
        function openNav() {
            document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
            document.getElementById("myNav").style.width = "0%";
        }
        </script>
        <div class="brand-box"> <p class="brand">My Dairy</p></div>
</header>
<div class="text-container"> <textarea id="text-area"> </textarea></div>
</body>
<script src="js/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
<script src="js/trumbowyg.min.js"></script>
<script>$('#text-area').trumbowyg({
        svgPath: 'https://raw.githubusercontent.com/Alex-D/Trumbowyg/master/dist/ui/icons.svg',
    });

</script>


</html>
