<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My-Dairies</title>
  <link rel="stylesheet" href="css/trumbowyg.min.css">
   <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div class="add-entry_header"></div>
    <div class="text-container"> <textarea id="text-area"> </textarea></div>
</body>
<script src="js/jquery.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.js"><\/script>')</script>
<script src="js/trumbowyg.min.js"></script>
<script>$('#text-area').trumbowyg({
        svgPath: 'https://raw.githubusercontent.com/Alex-D/Trumbowyg/master/dist/ui/icons.svg',
    });

</script>
</html>