<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Dairy</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content=" width=device-width, initial-scale=1"/>
</head>
<div class="hide_search-overlay">
    <div class="close-btn" onclick="hideSearchForm()">
        <p>X</p>
    </div>
    <div id="search-form" >
        <form class="search-bar">
            <input type="text" placeholder="Search.." name="search">
            <button type="submit">search</button>
          </form></div>
</div>
<div class="header-container">
<div class="top-nav-container">
<div class="logo"><h1>MY-DIARY</h1>

</div>
<div class="menu-icon" onclick="toggleBar(this);"><div class="bar1"></div>
<div class="bar2"></div>
<div class="bar3"></div></div>
<div class="topnav">
    <a href="#" class="active">Home</a>
    <a href="#" onclick="displaySearchForm()">Search</a>
    <a href="#">Profile</a>
    <a href="#">Private </a>
    <a href="#">Public</a>
    <a href="#">Logout</a>
</div> 

</div>

<body>


</div>

<div class="entries-container">
    <div class="tile">
        <img src="./images/diary2.jpg" alt=""><div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/featured2.jpg" alt=""><div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/pen-and-paper.jpg" alt=""> <div class="tile-overlay"></div>
        
    </div>
    <div class="tile">
        <img src="./images/reserve-slide1.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/revslide.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/pic1.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/portrait.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
 
</div>
<script>
    function displaySearchForm (){
    var searchBar = document.querySelector('.hide_search-overlay');
    searchBar.className="search-overlay";
    }
    function hideSearchForm (){
        var searchBar = document.querySelector('.search-overlay');
        searchBar.className="hide_search-overlay";
    }
function toggleBar(menuIcon) {
    let toggleNavigation= document.querySelector('.topnav')
    menuIcon.classList.toggle("change");
    toggleNavigation.classList.toggle("show-topnav")
}
</script>
        </body>
        </html>