<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Dairy</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<div class="header-container">
<div class="top-nav-container">
<div class="logo"><h1>MY-DIARY</h1></div>
<form class="search-bar"id="search-form" >
  <input type="text" placeholder="Search.." name="search">
  <button type="submit">search</button>
</form>   
<div class="avatar"><p>username</p><img src="./images/avatar.jpg" alt=""></div>    
</div>

<body>
     
<div class="topnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
</div>  

</div>

<div class="entries-container">
    <div class="tile">
        <img src="./images/diary2.jpg" alt=""><div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/featured2.jpg" alt=""><div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/pen-and-paper.jpg" alt=""> <div class="tile-overlay"></div>
        
    </div>
    <div class="tile">
        <img src="./images/reserve-slide1.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/revslide.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/pic1.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
    <div class="tile">
        <img src="./images/portrait.jpg" alt=""> <div class="tile-overlay"></div>
    </div>
 
</div>
        </body>
        </html>