<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My Dairy</title>
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
   
  
      <link rel="stylesheet" href="css/homepage.css">

  
</head>

<body>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  <header class="header">
      <div id="myNav" class="overlay">
          <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
          <div class="overlay-content">
            <a href="index.html"><i class="fas fa-home fa-1x "></i>Homepage</a>
            <a href="profile.html"><i class="fas fa-user-circle"></i>User's Profile</a>
            <a href="add-entry.html"><i class="fas fa-edit"></i> New Diary</a>
            <a href="view-entry.html"><i class="fas fa-book-open"></i>View Diary</a>
            <a href="auth-user.html"><i class="fas fa-users"></i>Signup/Signin</a>
  
  
          </div>
        </div>
        <span class="menu-icon" onclick="openNav()"><i class="fas fa-bars"></i> </span>
        <script>
            function openNav() {
                document.getElementById("myNav").style.width = "100%";
            }
            function closeNav() {
                document.getElementById("myNav").style.width = "0%";
            }
            </script>
      <div class="brand-box"> <p class="brand">My Dairy</p></div>
      <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
</header>
<div data-aos="fade-up"
     data-aos-duration="3000">

<div class="section-1">
	<div class="flexcontainer">
			<div class = "box box1"><i class="far fa-address-card fa-10x  fa-border"></i></div>
			<div class = "box box2"><h1>Express yourself with pictures and words.</h1><h2>Keep a journal of your daily activities, your travel, exercise, diet, or thoughts and prayers</h2></div>
	</div>
</div>
</div>
<div data-aos="fade-up"
     data-aos-duration="3000">
<div class="section-2">
		<div class="flexcontainer">
				<div class = "box box2"><h1>Never Forget to Write</h1><h2>Custom email reminders help you make sure you never forget to write.</h2></div>
				<div class = "box box1"><i class="fas fa-user-clock fa-10x fa-border"></i></div>
			</div>
</div></div>  
<div data-aos="fade-up"
     data-aos-duration="3000">
     <div data-aos="fade-up"
     data-aos-duration="3000">

<div class="section-1">
		<div class="flexcontainer">
				<div class = "box box1"><i class="fas fa-lock fa-10x fa-border"></i></div>
				<div class = "box box2"><h1>Secure, encrypted</h1><h2>Using the same security as banks, even we can’t see your private entries!</h2></div>
		</div>
  </div></div></div>
  <div data-aos="fade-up"
     data-aos-duration="3000">
	<div class="section-2">
			<div class="flexcontainer">
					<div class = "box box2"><h1>100% Private</h1><h2>Designed to focus on privacy, your entries are totally private by default!</h2></div>
					<div class = "box box1"><i class="fas fa-user-secret fa-10x fa-border"></i></div>
				</div>
  </div> </div> 
  <div data-aos="fade-up"
  data-aos-duration="3000">

	<div class="section-1">
			<div class="flexcontainer">
					<div class = "box box1"><i class="fas fa-tablet-alt fa-10x fa-border"></i></div>
					<div class = "box box2"><h1>Update from any device</h1><h2> you can Upload photos directly to your journal or import a video from YouTube.
					</h2></div>
			</div>
    </div></div>
    <div data-aos="fade-up"
     data-aos-duration="3000">
		<div class="section-2">
				<div class="flexcontainer">
						<div class = "box box2"><h1>Add images & video</h1><h2>Keep a journal of your daily activities, your travel, exercise, diet, or thoughts and prayers</h2></div>
						<div class = "box box1"><i class="fas fa-images fa-10x fa-border"></i></div>
					</div>
    </div> </div> 
    <div data-aos="fade-up"
     data-aos-duration="3000">

		<div class="section-1">
				<div class="flexcontainer">
						<div class = "box box1"><i class="fa fa-user fa-10x fa-border"></i></div>
						<div class = "box box2"><h1>Express yourself with pictures and words.</h1><h2>Keep a journal of your daily activities, your travel, exercise, diet, or thoughts and prayers</h2></div>
				</div>
      </div></div>
      <div data-aos="fade-up"
     data-aos-duration="3000">
			<div class="section-2">
					<div class="flexcontainer">
							<div class = "box box2"><h1>Express yourself with pictures and words.</h1><h2>Keep a journal of your daily activities, your travel, exercise, diet, or thoughts and prayers</h2></div>
							<div class = "box box1"><i class="fa fa-user fa-10x fa-border"></i></div>
						</div></div> 
			</div> 
			<footer>
					<h3>Copyright © 2018 MyDairy</h3> 
			</footer>
</body>
<script>
    AOS.init();
  </script>
</html>
