<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Dairy</title>
    <link rel="stylesheet" href="css/style.css">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<div class="header-container">
<div class="top-nav-container">
<div class="logo"><h1>MY-DIARY</h1></div>
<form class="search-bar"id="search-form" >
  <input type="text" placeholder="Search.." name="search">
  <button type="submit">search</button>
</form>   
<div class="avatar"><p>username</p><img src="./images/avatar.jpg" alt=""></div>    
</div>

<body>
     
 <div class="topnav">
    <a href="#home" class="active">Home</a>
    <a href="#news">News</a>
    <a href="#contact">Contact</a>
</div> 

</div>

<div class="profile-header">
  <div  class="profile-picture">
            <img src="./images/avatar.jpg" alt="">
          </div>
      <div class="profile-info">
          
      </div>
<div class="profile-footer">

</div>

  </div>

</body>
</html>