<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>My Dairy</title>
  <link rel="stylesheet" href="css/style.css">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1">
</head>

<div class="header-container">
  <div class="top-nav-container">
    <div class="logo">
      <h1>MY-DIARY</h1>
    </div>
    <form class="search-bar" id="search-form">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit">search</button>
    </form>
    <div class="avatar">
      <p>username</p><img src="./images/avatar.jpg" alt="">
    </div>
  </div>

  <body>

    <div class="topnav">
      <a href="#home" class="active">Home</a>
      <a href="#news">News</a>
      <a href="#contact">Contact</a>
    </div>

</div>

<div class="profile-header">
  <div class="profile-picture">
    <!-- <div class="profile-overlay"> --><img src="./images/avatar.jpg" alt=""><!-- </div> -->
  </div>
  <div class="profile-info">
    <h2>Mary Jane</h2>
    <p>Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet</p>
    <h3>Location</h3>
    <p>Lagos, Nigeria</p>
    <h2>Entries</h2>
    <table>
        <tr>
          <th>Private</th>
          <th>Public</th>
          <th>Total</th>
        </tr>
        <tr>
          <td>10</td>
          <td>223</td>
          <td>23</td>
        </tr>
        
      </table>
  </div>
  <div class="profile-footer">
  </div>
</div>
</body>

</html>