<!DOCTYPE html>


<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>Header for landing page using clip path.</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <link rel="stylesheet" href="css/view-diary.css">
</head>
<div class="header"></div>
<body>
    <div class="container">
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h1>
<p class="time">Published Jun 25, 2015</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt mpor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
    <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
        sed do eiusmod tempor incididunt ut Lorem ipsu.sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
        sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
</div>
</body>
</html>
