<!DOCTYPE html>


<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>My Diary</title><div class="header"><div id="myNav" class="overlay">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <div class="overlay-content">
        <a href="index.html"><i class="fas fa-home fa-1x "></i>Homepage</a>
        <a href="profile.html"><i class="fas fa-user-circle"></i>User's Profile</a>
        <a href="add-entry.html"><i class="fas fa-edit"></i> New Diary</a>
        <a href="view-entry.html"><i class="fas fa-book-open"></i>View Diary</a>
        <a href="auth-user.html"><i class="fas fa-users"></i>Signup/Signin</a>


      </div>
</div>
<span class="menu-icon" onclick="openNav()"><i class="fas fa-bars"></i> </span>
<script>
        function openNav() {
                document.getElementById("myNav").style.width = "100%";
        }
        
        function closeNav() {
                document.getElementById("myNav").style.width = "0%";
        }
        </script>
<div class="brand-box"> <p class="brand">My Dairy</p></div></div>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
      <link rel="stylesheet" href="css/view-diary.css">
</head>

<body>
    <div class="container">
<h1>Lorem ipsum dolor sit amet, consectetur adipiscing elit </h1>
<p class="time">Published Jun 25, 2015</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
<p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt mpor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
    sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
    <p>sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
        sed do eiusmod tempor incididunt ut Lorem ipsu.sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet, consectetur adipiscing elit
        sed do eiusmod tempor incididunt ut Lorem ipsum dolor sit amet.</p>
</div>
</body>
</html>
